.small {
  width: 86px;
  height: 26px;
  display: flex;
  gap: 4px;
  border-radius: 5px;
  border-width: 0.5px;
  padding: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  border-style: solid;
  align-items: center;
}

.large {
  width: 106px;
  height: 32px;
  display: flex;
  padding: 4px 5px;
  gap: 4px;
  border-radius: 3px;
  border-width: 0.5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border-style: solid;
  align-items: center;
}

.low {
  border-color: rgba(8, 165, 8, 1);
  color: rgba(8, 165, 8, 1);
}

.medium {
  border-color: rgba(255, 190, 11, 1);
  color: rgba(255, 190, 11, 1);
}

.high {
  border-color: rgba(250, 77, 77, 1);
  color: rgba(250, 77, 77, 1);
}
