.container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
